*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel{
    width: 100%;
    height:20rem;
    position: relative;
}

.carousel-img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.butn{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    border: none;
}

.butn:active{
    transform: scale(1.1);
}

.left{
    left: 0;
}

.right{
    right: 0;
}